<!DOCTYPE html>
<html ng-app="client">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>AutoTrack</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="app.css">
</head>
<body>

<div ng-include="'nav.html'" ng-if="location.path() != '/login'"></div>
<!--ng-if="location.path() !== '/admin/login'"-->
<!--<ul class="menu">-->

    <!--<li><a href="#/login">login</a></li>-->
    <!--<li><a href="#/cars">cars</a></li>-->
    <!--&lt;!&ndash;<li><a href="#/cars">upcoming</a></li>&ndash;&gt;-->
    <!--&lt;!&ndash;<li><a href="#/cars">history</a></li>&ndash;&gt;-->

<!--</ul>-->
<!-- container of our app -->
<!--<div class="container" ng-app="autotrack">-->
<div class="container" ng-app="autotrack">

    <div ng-view></div>
    <!-- read products template -->
</div> <!-- end container -->

<!--<div ng-view></div>-->

<!-- angular Library -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>

<!-- angular route Library -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-route.js"></script>

<!-- angular material Library -->
<script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.1.0/angular-material.min.css">

<!-- needed for angular material -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-animate.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-aria.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-messages.min.js"></script>


<!-- autotrack scripts -->
<script src="app.js"></script>
<script src="cars/car.js"></script>
<script src="services/carService.js"></script>
<script src="login/login2.js"></script>
<script src="services/userService.js"></script>

</body>
</html>
