<div layout="row" ng-controller="carController" ng-cloak>
    <div flex="10"></div>

    <div flex="80" class='m-20px-0'>

        <md-toolbar ng-init="getServiceType()" class="md-hue-2">
            <div class="md-toolbar-tools">
                <!-- page title -->
                <div flex md-truncate>
                    <h3 class="md-headline">{{carname}}'s {{serviceTypeName}} history</h3>
                </div>
                <!-- button for creating car -->
            </div>
        </md-toolbar>


        <md-content flex>
            <!-- show product record list -->
            <md-list ng-init="showHistory()">
                <md-list-item class="md-3-line" ng-repeat="service in services">

                    <!-- product information -->
                    <div class="md-list-item-text">
                        <h3>Completed at {{service.mileage}} miles</h3>
                        <p>{{service.date.date}}</p>
                    </div>
                    <!-- 'read one', 'edit' and 'delete' buttons -->
                    <div class="md-secondary-container">


                    </div>
                    <md-divider ng-if="!$last"></md-divider>
                </md-list-item>
            </md-list>
        </md-content>
    </div>

    <div flex="10"></div>
</div> <!-- end row -->
