<div layout="row" ng-controller="carController" ng-cloak>
    <div flex="10"></div>

    <div flex="80" class='m-20px-0'>

        <md-toolbar class="md-hue-2">
            <div class="md-toolbar-tools">
                <!-- page title -->
                <div flex md-truncate>
                    <h3 class="md-headline">My fleet</h3>
                </div>
                <!-- button for creating car -->

                <md-button class="md-raised" ng-click="showAddCarForm()">+</md-button>

            </div>
        </md-toolbar>


        <md-content flex>
            <!-- show product record list -->
            <md-list ng-init="readCarsByUserId()">
                <md-list-item class="md-3-line" ng-repeat="car in cars">

                    <!-- product information -->
                    <div class="md-list-item-text">
                        <h3>{{car.name}}</h3>
                        <p>Mileage {{car.mileage}}</p>
                    </div>
                    <!-- 'read one', 'edit' and 'delete' buttons -->
                    <div class="md-secondary-container">
                        <!-- 'read one' button will be here -->
                        <!-- 'edit' button will be here -->
                        <md-button class="md-raised md-primary"
                                   ng-click="setCar(car)"
                            ng-href="#/schedule/' + {{car.id}}">
                            View schedule</md-button>
                        <md-button class="md-raised md-primary"
                                   ng-click="showUpdateCarForm(car.id)">
                            Edit</md-button>
                        <md-button class="md-raised md-primary"
                                   ng-click="confirmDeleteCar(car.id)">
                            Delete</md-button>
                        <!-- 'delete' button will be here -->

                    </div>
                    <md-divider ng-if="!$last"></md-divider>
                </md-list-item>
            </md-list>
        </md-content>
    </div>

    <div flex="10"></div>
</div> <!-- end row -->
